<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    <link rel="stylesheet" href="services.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Nunito:wght@200&display=swap" 
    rel="stylesheet">
</head>
<body>
    
    <div class="menu">
        <div class="heading">
            
            <h1>FLAVORY DELIGHTS</h1>
            <h3>&mdash;MENU &mdash; </h3>
        </div>
        <div class="food-items">
            <img src="../Components/images/pasta.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Alfredo Pasta</h5>
                    <h5 class="price">Rs. 349</h5>
                </div>
                <p>Classic creamy pasta tossed in a rich alfredo sauce made with parmesan cheese, whipping cream and seasonings.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/pasta2.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Arabiata Pasta</h5>
                    <h5 class="price">Rs. 349</h5>
                </div>
                <p>Classic creamy pasta tossed in a sauce made with spicy red chili peppers and tomatoes.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/burger.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Smoky Hamburger</h5>
                    <h5 class="price">Rs. 259</h5>
                </div>
                <p>A hamburger is a sandwich consisting of a cooked meat patty on a bun or roll.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/Biryani2.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Chicken Biryani</h5>
                    <h5 class="price">Rs. 499</h5>
                </div>
                <p>This meal is made of fragrant basmati rice, tender spiced chicken, and 
                    caramelized onions, and it can be cooked in less than an hour while maintaining the 
                    same authentic flavor and texture of traditional versions.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/Biryani.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Hyderabadi Dum Biryani</h5>
                    <h5 class="price">Rs. 449</h5>
                </div>
                <p>This meal is made of fragrant basmati rice, tender spiced chicken, and caramelized 
                    onions, and it can be cooked in less than an hour while maintaining the same authentic 
                    flavor and texture of traditional versions.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.29 PM (1).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Chicken Tikka</h5>
                    <h5 class="price">Rs. 299</h5>
                </div>
                <p>Boneless chicken pieces are marinated with yogurt and spice and then grilled to perfection.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.29 PM (2).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Butter Chicken</h5>
                    <h5 class="price">Rs. 349</h5>
                </div>
                <p>Type of curry made from chicken with a spiced tomato and butter (makhan) sauce.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>
        

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.29 PM (3).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Classic Fries</h5>
                    <h5 class="price">Rs. 99</h5>
                </div>
                <p>Deep-fried, very thin, salted slices of potato that are usually served at room temperature.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.29 PM.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Peri Peri Fries</h5>
                    <h5 class="price">Rs. 129</h5>
                </div>
                <p>Deep-fried, very thin, salted slices of potato that are usually served at room temperature.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.29 PM (4).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Kadhai Paneer</h5>
                    <h5 class="price">Rs. 349</h5>
                </div>
                <p>Indian Cottage Cheese and bell peppers are cooked in freshly ground spicy masala!</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.30 PM (1).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Paneer Tikka</h5>
                    <h5 class="price">Rs. 229</h5>
                </div>
                <p>Paneer tikka is an Indian dish made from chunks of paneer marinated in spices and grilled in a tandoor.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.30 PM (2).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Classic Margherita</h5>
                    <h5 class="price">Rs. 249</h5>
                </div>
                <p>Flavorful Margherita Pizza made with homemade whole wheat pizza crust, scratch-made tomato sauce, 
                    melty mozzarella cheese and fresh basil.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.30 PM (3).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Veggie Burger</h5>
                    <h5 class="price">Rs. 79</h5>
                </div>
                <p>Veggie burgers are made from vegetables, whole grains, and legumes</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.30 PM (4).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Steam Momos</h5>
                    <h5 class="price">Rs. 59</h5>
                </div>
                <p>Momo is a type of steamed dumpling with some form of filling, most commonly buff and it is originally from Tibet.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.30 PM (5).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Veg Noodles</h5>
                    <h5 class="price">Rs. 69</h5>
                </div>
                <p>Vegetable noodles is a healthy Chinese inspired dish where cooked noodles are stir fried with lots of vegetables.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.30 PM (6).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>chocolate Shake</h5>
                    <h5 class="price">Rs. 89</h5>
                </div>
                <p>Our chocolate shake is made with delicious soft serve, chocolate syrup and finished off with a creamy whipped topping.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.30 PM (7).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>strawberry Shake</h5>
                    <h5 class="price">Rs. 89</h5>
                </div>
                <p>Strawberry milkshake is a delicious drink made with strawberries, milk, ice cream and flavoring ingredients like vanilla 
                    extract or strawberry syrup.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.30 PM (8).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Oreo Skake</h5>
                    <h5 class="price">Rs. 119</h5>
                </div>
                <p>Oreo Milkshake is everything you want on a hot summer day!! Its thick, creamy, delicious and satisfies all the sweet 
                    cravings!!</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.31 PM (1).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Cappuccino</h5>
                    <h5 class="price">Rs. 149</h5>
                </div>
                <p>Cappuccino is a hot, frothy drink with a creamy top, milky middle, and full-bodied brew at the bottom.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.31 PM (2).jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Donuts Platter</h5>
                    <h5 class="price">Rs. 229</h5>
                </div>
                <p>Small ring-shaped piece of sweet fried dough.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

        <div class="food-items">
            <img src="../Components/images/WhatsApp Image 2022-06-18 at 11.02.31 PM.jpeg">
            <div class="details">
                <div class="details-sub">
                    <h5>Pancake</h5>
                    <h5 class="price">Rs. 139</h5>
                </div>
                <p>A pancake is a thin, flat, circular piece of cooked batter made from milk, flour, and eggs.</p>
                <!-- <button>Add to Cart</button> -->
            </div>
        </div>

    </div>
</body>
</html>