

body{
    overflow-x: hidden
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;;
    
}

.outer_div2{
    position: relative;
}

.outer_div2 img{

    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
}


.outer_div2 .content{
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 20;
    position:absolute;
    top: 0;
    left: 0;
}

.outer_div2 .content h1{
   color: #fff;
   font-weight: 600;
   font-size: 500%;
}
.outer_div2 .content h3{
    color: #fff;
    font-weight: 300;
    
 }