*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  
}
.stay h2{
  font-size: 25px;
  left:0;
}

.stay h1 {
    font-family: 'Merriweather', serif ;
    margin: 20px auto;
    color:Black;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
  }
 
  .stay h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #a1a1a5;
    right:-70%;
    top: 50%;
    position: absolute;
  }

  .stay h1:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #a1a1a5;
    left: -70%;
    top: 50%;
    position: absolute;
  }

  .outer_div{
    display: inline-block;
    box-shadow: 30px #a1a1a5;
  }

  .inner_div2{
    display:inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .inner_div1{
    display:inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .image1 img{
    height: 100%;
    width: 100%;
    
  }
 
  .row{
    margin: 70px auto;
    
  }

/*   
 .stayy h1:after {
    content: "";
    display: block;
    width: 40%;
    height: 5px;
    background: #505054;
    right:60%;
    top: 120%;
    position: absolute;
  }

  .stayy h1:before {
    content: "";
    display: block;
    width: 40%;
    height: 5px;
    background: #424245;
    left: 60%;
    top: 120%;
    position: absolute;
  }


  .stayyy h1:after {
    content: "";
    display: block;
    width: 40%;
    height: 5px;
    background: #505054;
    right:60%;
    top: 175%;
    position: absolute;
  }

  .stayyy h1:before {
    content: "";
    display: block;
    width: 40%;
    height: 5px;
    background: #424245;
    left: 60%;
    top: 175%;
    position: absolute;
  }


  .stayyyy h1:after {
    content: "";
    display: block;
    width: 40%;
    height: 5px;
    background: #505054;
    right:60%;
    top: 290%;
    position: absolute;
  }

  .stayyyy h1:before {
    content: "";
    display: block;
    width: 40%;
    height: 5px;
    background: #424245;
    left: 0%;
    top: 290%;
    position: absolute;
  }
  */

p{
    margin:5px 50px;
    font-size:18px;
    font-family: 'Merriweather', serif;
  }
  .content5{
    position: absolute;
    bottom: 8%;
    right: 5%;
    padding: 3%;
}